@tailwind components;
@tailwind utilities;


.link {
  @apply bg-gray-100 p-3 rounded-lg font-medium;
  color: #646cff;
  text-decoration: inherit;
}
.link:hover {
  color: hsl(237, 86%, 64%);
}

.bg {
  @apply w-screen flex flex-row justify-center;
}

.body {
  @apply bg-gradient-to-bl from-blue-400  to-blue-800 justify-center m-0 flex flex-col place-items-center min-w-[320px] min-h-screen font-normal;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  @apply text-gray-100;
  font-size: 3.2em;
  line-height: 1.1;
}